# Создайте файл .env из копии этого файла и замените значения переменных реальными данными

# Конфигурация базы данных
DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_NAME=mydatabase    # Имя базы данных
POSTGRES_PORT=5432          # Порт базы данных

# API-ключи
API_KEY=your_api_key_here


admin=ivan
password=12345

neo: 1q2w3e4R
Петр: 1й2ц3у4К
Андрей: 1й2ц3у4К