{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Главная</a>
    &rsaquo; <a href="{% url 'admin:users_pushsubscription_changelist' %}">Push-подписки</a>
    &rsaquo; Отправить
</div>
{% endblock %}

{% block content %}
<form method="post" novalidate>
    {% csrf_token %}
    <fieldset class="module aligned">
        {% for field in form %}
            <div class="form-row{% if field.errors %} errors{% endif %}">
                {{ field.errors }}
                <div>{{ field.label_tag }} {{ field }}</div>
                {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
            </div>
        {% endfor %}
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="Отправить push" class="default">
        <a href="{% url 'admin:users_pushsubscription_changelist' %}" class="closelink">Отмена</a>
    </div>
</form>
{% endblock %}
